.timer, .secondsLeft {
    float: right;  
    margin: 5px;
}

.questions {
    display: flex;
    justify-content: center;
    margin: 5vh auto;
}

.aboutQuiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 15px 0;
}

.aboutQuiz p {
    margin: 0;
}

.startQuizDiv {
    display: flex;
    justify-content: center; 
    width: 25vw;
    margin: auto;

}

.startQuizBtn, .initialFormBtn {
    display: flex;
    justify-content: flex-start;
    background-color: blueviolet;
    color: whitesmoke;
    border-radius: 5px;
    margin: auto 10px;
}

.multiChoice {
    display: none;
    justify-content: flex-start; 
    flex-direction: column;
    /* align-items: flex-start; */
    width: max-content;
    margin: auto;
    padding-right: 10vw;
}
.multiChoiceBtn {
    display: flex;     /* change after start btn click */
    margin-bottom: 5px;
    background-color: blueviolet;
    color: whitesmoke;
    border-radius: 5px;
}

.feedback {
    display: none;          /*change after quiz starts*/ 
    background-color: rgba(128, 128, 128, 0.5);
    color: whitesmoke;
    padding: 5px 0 5px 5px;
    width: 25vw;
    border-radius: 5px;
    justify-content: center;
    margin: 5vh auto;
    opacity: 1;
    transition: 2s;

}

.pastScores {
    display: none; /*change on eventListener click 'View High Scores' */ 
}

.initialsForm {
    display: none;
    justify-content: center;
}